:root {
    --light-blue: #00AFDB;
    --dark-blue: #009CC2;
}

body {
    font-family: Roboto, sans-serif, monospace;
    width: 1600px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
}

p {
    margin: 0;
}

/* REUSED ELEMENTS */

.main-button {
    font-weight: 700;
    font-size: 14px;
    padding: 15px 47px;
    color: white;
    background-color: var(--light-blue);
    cursor: pointer;
    border: none;
    line-height: 16px;
    font-family: Roboto;
}

.main-button:hover {
    background-color: var(--dark-blue);
}

.section-text {
    color: #4E4E4E;
    line-height: 140%;
}

.logo {
    cursor: pointer;
    z-index: 1;
}

.logo:hover, .arrow-icon:hover, .icon:hover {
    opacity: 60%;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    margin: 0;
}

h3 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 20px 0px 14px 0px;
}

.section-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* END REUSED ELEMENTS */

/* NAVBAR */

header {
    position: absolute;
    top: 0;
    width: 1600px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 140%;
    padding: 27px 515px 0px 502px;
}

#styled-navbar-item {
    font-weight: 500;
    opacity: 100%;
    border-bottom: 1px solid white;
}

.navbar-item {
    text-decoration: none;
    color: white;
    margin: 0 42.5px;
    opacity: 80%;
    cursor: pointer;
    z-index: 5;
}

.navbar-item:hover {
    color: var(--light-blue);
}

.navbar-item-active {
    font-weight: 500;
    opacity: 100%;
    border-bottom: 1px solid white;
}

.navbar-item-active:hover {
    border-bottom: 1px solid var(--light-blue);
}

.navbar-logo {
    margin: 0 57.5px;
}

nav a {
    display: flex;
    flex: 1;
}

/* END NAVBAR */

/* MAIN SECTION */

.main-section {
    position: relative;
}

.main-section-hero {
    position: absolute;
    width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 0;
}

.main-heading {
    font-size: 64px;
    font-weight: 700;
    color: white;
    line-height: 75px;
    letter-spacing: 4.5px;
    margin-top: 174px;
    margin-bottom: 0;
}

.main-image {
    background-image: url('./assets/main-image.jpg'), linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    height: 744px;
    width: 1600px;
}

.icons-container {
    display: flex;
    padding: 183px 0px 30px 0px;
}

.main-text {
    color: white;
    font-size: 18px;
    width: 504px;
    text-align: center;
    padding: 20px 0px 30px 0px;
}

.icon {
    padding: 0 15px;
    cursor: pointer;
}

/* END MAIN SECTION */

/* RAPPRESENT SECTION */

.rappresent-section {
    display: flex;
    justify-content: center;
    margin: 120px 0 137px 0;
    align-items: center;
}

.rappresent-heading {
    width: 368px;
    margin-bottom: 3px;
}

.rappresent-text {
    width: 407px;
    padding: 20px 248px 30px 0px;
}

.rappresent-image {
    width: 407px;
    height: 582px;
    object-fit: cover;
}

/* END RAPPRESENT SECTION */

/* COMMUNITY SECTION */

.community-section {
    background-color: #F5F6F7;
}

.community-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 139px 125px 269px;
}

.community-container {
    display: flex;
    overflow: hidden;
}

.community-icon {
    width: 45px;
    height: 45px;
}

.community-text {
    width: 298px;
    text-align: center;
}

.chooseimage {
    height: 244px;
    width: 407px;
    padding: 16px 30px 140px 0px;
    object-fit: cover;
}

.chooseimage-elem {
    display: flex;
    padding-top: 82px;
    margin-left: 1233px;
    font-size: 18px;
}

.arrow-icon {
    padding: 0 15.34px;
    cursor: pointer;
}

.slash {
    padding: 0px 3px;
}

.community-images {
    display: flex;
}

/* END COMMUNITY SECTION */

/* IMPLEMENT SECTION */

.implement-section {
    display: flex;
    align-items: center;
    margin: 0 269px;
}

.implement-text-container {
    margin-left: 139px;
    margin-bottom: 18px;
}

.implement-image {
    width: 407px;
    height: 582px;
    margin: 120px 0px 140px 0px;
    object-fit: cover;
}

.implement-text {
    width: 407px;
    margin: 20px 0px 30px 0px;
}

/* END IMPLEMENT SECTION */

/* SIGNUP SECTION */

.signup-section {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./assets/signup-image.jpg);
    background-position: center -615px;
    background-size: 1920px 1281px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0 222px 0;
}

.signup-heading {
    color: white;
    margin-bottom: 30px;
}

.email-field {
    display: flex;
}

.check-button {
    background-color: var(--light-blue);
    border: none;
    padding: 0 25px;
    cursor: pointer;
}

.check-button:hover {
    background-color: var(--dark-blue);
}

.email-input {
    border: none;
    padding: 16px 182px 15px 24px;
}

::placeholder {
    opacity: 50%;
    font-family: Roboto;
    font-size: 14px;
}

/* END SIGNUP SECTION */

/* DOWNLOAD SECTION */

.download-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F6F7;
    padding-top: 120px;
    padding-bottom: 180px;
}

.download-text {
    margin-top: 23px;
    margin-bottom: 30px;
    width: 480px;
    text-align: center;
}

.download-buttons-flex {
    display: flex;
    justify-content: center;
}

.store-button {
    display: flex;
    cursor: pointer;
}

.apple-button-left {
    padding: 15px 18px 15px 18px;
}

.android-button-left {
    padding: 16px 17px 15px 16px;
}

.store-button-right {
    background-color: var(--dark-blue);
    border: none;
    cursor: pointer;
}

.apple-button-right {
    margin-right: 30px;
    padding: 4px 21.5px 0px 21.5px;
}

.android-button-right {
    padding: 3px 20px 0px 20px;
}

/* FOOTER */

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 160px 81px 160px;
}

.footer-item {
    flex: 1;
}

.footer-links {
    display: flex;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 0px 20px;
    line-height: 140%;
    cursor: pointer;
}

footer a:hover {
    color: var(--dark-blue);
}

.footer-credentials {
    display: flex;
    justify-content: flex-end;
    color: #818181;
}

.footer-logo {
    display: flex;
    justify-content: center;
}

.footer-links a:first-of-type {
    padding-left: 0px;
}

.footer-links a:last-of-type {
    padding-right: 0px;
}